.header_menu{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_img{
        width: 160px;
        padding: 20px 0px 15px 0px;
    }
    .fa-solid{
        position: absolute;
        left: 15px;
        top: 27px;
    }
}

.header_search-bar{
    background-color: $background-color_secondary;
    text-align: center;
    padding: 15px 0px 15px 25px;
        &_text{
        border: none;
        outline: none;
        color: $color_secondary;
        background-color: $background-color_secondary;
        padding-left: 10px;
    
    }
}

