.main_top{
    background-color: $background-color_primary;
    &_background{
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
    &_title{
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 15px;
        justify-content: space-between;
        align-items: center;
        background-color: $background-color_primary;
        border-radius: 15px 15px 0px 0px;
        padding: 10px 10px 0px 10px;
        @include heart;
        & i{
            padding: 15px;
        }
    }
}

.entrees{
    padding: 10px;
    background-color: $background-color_primary;
    animation: menu_apparition 1000ms linear;
    h2{
        @include menu_title;
    }
    &_container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px 0px 10px 0px;
    }
    &_bloc{
        display: flex;
        flex-direction: column;
        gap: 4px;
        background-color: $color_primary;
        border-radius: 15px;
        padding: 15px 10px 15px 10px;
        &_bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-check{
            display: none;
        }
    }
}

.plats{
    padding: 0px 10px 10px 10px;
    background-color: $background-color_primary;
    animation: menu_apparition 1000ms linear 400ms;
    animation-fill-mode: backwards;
    h2{
        @include menu_title;
    }
    &_container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px 0px 10px 0px;
    }
    &_bloc{
        display: flex;
        flex-direction: column;
        gap: 4px;
        background-color: $color_primary;
        border-radius: 15px;
        padding: 15px 10px 15px 10px;
        &_bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-check{
            display: none;
        }
    }
}

.desserts{
    padding: 0px 10px 10px 10px;
    background-color: $background-color_primary;
    animation: menu_apparition 1000ms linear 800ms;
    animation-fill-mode: backwards;
    h2{
        @include menu_title;
    }
    &_container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px 0px 10px 0px;
    }
    &_bloc{
        display: flex;
        flex-direction: column;
        gap: 4px;
        background-color: $color_primary;
        border-radius: 15px;
        padding: 15px 10px 15px 10px;
        &_bottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &-check{
            display: none;
        }
    }
}

@keyframes menu_apparition{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}