.bloc_page_menu{
    background-color: $background-color_primary;
    max-width: 1440px;
    margin: auto;
}

.main_top{
    background-color: $background-color_primary;
    &_background{
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
    &_title{
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 15px;
        justify-content: space-between;
        align-items: center;
        background-color: $background-color_primary;
        border-radius: 15px 15px 0px 0px;
        padding: 20px;
        @include heart;
        & i{
            padding: 15px;
        }
    }
}

.entrees, .plats, .desserts{
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
    padding: 10px;
    background-color: $background-color_primary;
    h2{
        @include menu_title;
    }
    &_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 10px 0px 10px 0px;
    }
    &_bloc{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 55px;
        width: 310px;
        max-width: 342px;
        justify-content: space-between;
        gap: 4px;
        overflow: hidden;
        background-color: $color_primary;
        border-radius: 15px;
        &_text{
            display: flex;
            flex-direction: column;
            width: 90%;
            gap: 4px;
            padding: 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            h3{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            p{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        &_bottom{
            display: flex;
            flex-direction: row;
            align-items: end;
            padding: 8px;
        }
        &-check{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0px;
            background-color: #99E2D0;
            opacity: 0;
            width: 65px;
            height: 55px;
            border-radius: 0px 15px 15px 0px;
            .fa-check{
                font-size: 12PX;
                background-color: white;
                color: #99E2D0;
                padding: 4PX;
                border-radius: 50%;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .center{
        display: flex;
        flex-wrap: wrap;
    }
}


