.main_btn{
    display: flex;
    justify-content: center;
    background-color: $background-color_primary;
    &_bloc{
    @include button;
    padding: 15px 40px;
    margin-top: 30px;
    margin-bottom: 55px;
    }
}

.top-presentation_button{
    @include button;
    width: 230px;
    margin: auto;
}

    