*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.entrees h2{
    font-size: 18px;
    font-weight: 400;
    color: rgb(94, 94, 94);
}

.main_top_title h1{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-size: 20px;
}

h3{
    font-size: 16px;
    font-weight: 400;
    color: black;
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
}

h5{
    font-family: 'Shrikhand', cursive;
}

.entrees p{
    font-size: 14px;
    font-weight: 200;
}

.plats p{
    font-size: 14px;
    font-weight: 200;
}

.desserts p{
    font-size: 14px;
    font-weight: 200;
}