*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2{
    font-size: 25px;
    font-weight: 500;
    color: black;
}


.main_top_title h1{
    font-family: 'Shrikhand', cursive;
    font-style: italic;
    font-size: 20px;
}

h3{
    font-size: 15px;
    font-weight: 400;
    color: black;
}

h5{
    font-family: 'Shrikhand', cursive;
}

a{
    text-decoration: none;
    color: black;
}

img{
    object-fit: cover;
}

.entrees, .plats, .desserts p{
    font-size: 13px;
    font-weight: 200;
}

.entrees, .plats, .desserts{
    &_bloc_bottom p{
        font-weight: 400;
    }
}
