.bloc_page_index{
    background-color: white;
    max-width: 1200px;
    margin: auto;
}

.top-presentation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    background-color: $background-color_primary;
    padding: 50px;
    h1{
        margin: 0;
    }
    p{
        font-weight: 250;
        font-size: 18px;
    }
    &_button{
        @include button;
    }
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    &_all{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_link{
            text-decoration: none;
        }
        &_bloc{
            display: flex;
            flex-direction: row;
            position: relative;
            color: $color_secondary;
            background-color: $background-color_primary;
            border-radius: 17px;
            width: 254px;
            margin: auto;
            padding: 15px;
        }
        p{
        position: absolute;
        left: -12px;
        bottom: 13px;
        font-size: 12px;
        color: $color_primary;
        background-color:#9356DC;
        border-radius: 50%;
        padding: 2px 6px; 
        }
        .fa-solid{
            padding: 0px 18px;
        }
    }
}

.card{
    display: flex;
    flex-direction: column;
    background-color: $background-color_primary;
    gap: 20px;
    padding: 20px 20px 60px 20px;
    &_figure{
        position: relative;
        max-width: 377px;
        height: 200px;
        background-color: $color_primary;
        border-radius: 15px;
        margin: auto;
        &_img{
            width: 100%;
            height: 70%;
            border-radius: 15px 15px 0px 0px;
            }
        &_img_subhead{
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 12px;
            background-color: #99e2d0;
            border-radius: 3px;
        }
    }
    .card_figure_img_subhead{
        color: #337C6A;
        font-weight: 400;
        padding: 8px;
    }
    &_figure_bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h3{
        padding: 5px 10px 2px 10px;
    }
    p{
        color: $color_secondary;
        font-weight: 200;
        padding: 0px 10px;
    }
}

.card_icon{
    position: relative;
    margin: 15px;
    @include heart;
}

.loader{
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    border-top: 20px solid #FF79DA;
    border-right: 20px solid #9356DC;
    border-bottom: 20px solid $background-color_secondary;
    border-left: 20px solid #99e2d0;
}

@media screen and (min-width: 814px){
    .intro{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        h2{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
        }
        &_all{
            display: flex;
            flex-direction: row;
            gap: 19px;
            margin: auto;
        }
        &_all_bloc{
            width: 31%;
            min-width: 254px;
            display: flex;
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 814px){
    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        h2{
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &_figure{
            width: 377px;
        }
    }
}