@mixin button{
    color: $color_primary;
    background: $color_button;
    border-radius: 35px;
    border: none;
    box-shadow: 7px 7px 10px rgb(181 181 181);
    transition: all 450ms;
    padding: 15px 20px;
    &:hover{
        box-shadow: 10px 10px 10px rgb(161 161 161);
        opacity: 0.8;
    }
}

@mixin heart{
    & .far{
        position: absolute;
        right: 1px;
    }
    & .fas{
        position: absolute;
        right: 1px;
        opacity: 0;
        background: $color_button;
        -webkit-background-clip: text;
        color: transparent;
        color: transparent;
        transition: opacity 350ms;
        &:hover{
            opacity: 1;
        }
    }
}

@mixin menu_title{
    font-size: 18px;
    font-weight: 400;
    color: rgb(94, 94, 94);
    width: 45px;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 3px;
}